---
import type { CollectionEntry } from "astro:content";
import type { Project } from "../content/config";
import { Image } from "astro:assets";
interface Props {
  entry: CollectionEntry<"project">;
}
const { entry } = Astro.props;

const project: Project = entry.data;
const images = import.meta.glob("/src/assets/*.{jpeg,jpg,png,gif}");
---

<a href={`/projects/${entry.slug}`}>
  <div class='card max-w-sm bg-base-100 shadow-xl transition ease-in-out hover:scale-[102%]'>
    {
      project.heroImage && (
        <figure>
          <Image
            loading='lazy'
            width={422}
            height={750}
            src={images[project.heroImage]()}
            alt={project.title}
            class='rounded-xl overflow-hidden'
            aria-hidden='true'
          />
        </figure>
      )
    }

    <div class='card-body items-center text-center grow w-full'>
      <div>
        <h2 class='card-title'>
          {project.title}
          {project.badge && <div class='badge badge-accent'>{project.badge}</div>}
        </h2>
        <h4 class='text-base-content/40 text-sm'>{project.date.getFullYear()}</h4>
      </div>
      <p>{project.description}</p>
      <div class='card-actions justify-center mt-2'>
        {project.tags?.map((tag) => <div class='badge badge-outline'>{tag}</div>)}
      </div>
    </div>
  </div>
</a>
