---
import type { CollectionEntry } from "astro:content";
import type { Project } from "../content/config";
import { Image } from "astro:assets";
interface Props {
  entry: CollectionEntry<"project">;
}
const { entry } = Astro.props;

const project: Project = entry.data;
---

<div class='card max-w-sm bg-base-100 shadow-xl transition ease-in-out hover:scale-[102%]'>
  <figure>
    <Image
      width={422}
      height={750}
      src={project.heroImage!}
      alt={project.title}
      class='rounded-xl overflow-hidden'
    />
  </figure>

  <div class='card-body items-center text-center grow w-full'>
    <div>
      <h2 class='card-title'>
        {project.title}
        {project.badge && <div class='badge badge-secondary'>{project.badge}</div>}
      </h2>
      <h4 class='text-base-content/40 text-sm'>{project.date.getFullYear()}</h4>
    </div>
    <p>{project.description}</p>
    <div class='card-actions justify-end mt-2'>
      {project.tags?.map((tag) => <div class='badge badge-outline'>{tag}</div>)}
    </div>
  </div>
</div>
